html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: "league-woff";
    src: url("leaguegothic.ttf")
}

@font-face {
    font-family: "league-legacy";
    src: url("leaguegothic.ttf")
}

.argument-text{
    font-family: "league-woff", "league-legacy", sans-serif;
    font-size: 3.2em;
    line-height: 1em;
    padding-top: 1em;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    margin: 0 auto;
    text-align: center;
    transition: font-size 1s linear
}

.result__time, .text-input, .header {
    font-family: "league-woff", "league-legacy", sans-serif;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase
}

body, input, select, textarea {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200
}

html {
    font-size: 1em;
    line-height: 1.5em;
    background: rgba(89, 89, 89, 0.71);
    -webkit-font-smooting: antialiased;
    transition: background 1s linear
}

html.bad{
    background: #c23333
}

html.ok {
    background: #db7d3a
}

html.good {
    background: #378241
}

html.neutral{
    background: #2f5d82
}

.hidden {
    position: absolute;
    left: -1000px;
    width: 0;
    height: 0
}

body {
    margin: 0 auto;
    position: relative
}

em {
    font-style: italic
}

a {
    text-decoration: underline
}

.header {
    letter-spacing: 1px
}

.header--sub-title {
    font-size: 1.3125em;
    line-height: 1.1428571429em
}

.title {
    font-size: 3em;
    line-height: 1em;
    padding-top: 1em;
    color: #fff;
    color: rgba(255, 255, 255, .6);
    display: block;
    margin: 0 auto;
    text-align: center;
    transition: font-size 1s linear
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 4.5em;
        line-height: .6666666667em;
        padding-top: .6666666667em
    }
}

@media only screen and (min-width: 1440px) {
    .title {
        font-size: 6.75em;
        line-height: .4444444444em;
        padding-top: .4444444444em
    }
}

.text-input {
    font-size: 3em;
    line-height: 1.5em;
    border: 1px solid #fff;
    background: #fff;
    background: rgba(255, 255, 255, .6);
    border-left: 0;
    border-right: 0;
    box-sizing: border-box;
    display: block;
    height: 1.5em;
    margin-top: 1em;
    padding: 0;
    text-align: center;
    text-transform: none;
    width: 100%
}

.text-input:focus {
    outline: none
}

.text-input::-moz-placeholder {
    color: #000000
}

.text-input:-ms-input-placeholder {
    color: #000000
}

.text-input::placeholder {
    color: #000000
}

.block__header {
    font-size: 1.3125em;
    line-height: 1.1428571429em;
    background: #222;
    color: #fff;
    padding: .5714285714em 1.1428571429em
}

@media only screen and (min-width: 768px) {
    .block__header {
        font-size: 1.5em;
        line-height: 1em;
        padding: 0 1em;
        padding: .5em 1em
    }
}

.block__body {
    font-size: .875em;
    line-height: 1.7142857143em;
    padding: 0 1.7142857143em;
    padding-bottom: .8571428571em;
    padding-top: .8571428571em
}

@media only screen and (min-width: 768px) {
    .block__body {
        font-size: 1em;
        line-height: 1.5em;
        padding: 0 1.5em;
        padding-bottom: .75em;
        padding-top: .75em
    }
}

.text-block p + p {
    margin-top: 1.5em
}

.text {
    font-size: .875em;
    line-height: 1.7142857143em;
    color: #fff;
    margin: 1.5em 0;
    text-align: center
}

.sponsor {
    color: #fff;
    color: rgba(255, 255, 255, .85);
    margin: 3em auto 1.5em;
    max-width: 1024px;
    padding: 0 1.5em;
    text-align: center
}

.sponsor__link {
    color: #fff;
    color: rgba(255, 255, 255, .85)
}

.checks__item, .result {
    border: 1px solid #fff;
    background: #fff;
    background: rgba(255, 255, 255, .6);
    box-sizing: border-box;
    color: #222;
    margin: 0 auto;
    max-width: 1024px
}

@media only screen and (max-width: 1023px) {
    .checks__item, .result {
        border-left: 0;
        border-right: 0
    }
}

.checks a, .result__text a {
    color: #378241;
    font-weight: bold;
    text-decoration: none
}

.checks a:hover, .checks a:focus, .result__text a:hover, .result__text a:focus {
    text-decoration: underline
}

.result {
    margin-top: 1.5em;
    padding: 0 1.5em;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    text-align: center
}

.result__before {
    margin-bottom: .75em
}

.result__after {
    margin-bottom: .75em
}

.result__time {
    font-size: 3em;
    line-height: 1em;
    display: block
}

.result__tweet {
    margin-top: 1.5em;
    text-align: center
}

.result__advertising {
    font-weight: bold
}

.result__link {
    font-size: .8125em;
    line-height: 1.8461538462em;
    background: #0099e4;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 2px 10px 3px;
    text-decoration: none
}

.result__link:hover, .result__link:focus {
    background: #007ec3
}

.checks {
    margin-top: 1.5em
}

.checks .fake-link {
    color: #378241;
    font-weight: 500
}

.checks__item + .checks__item {
    border-top: 0
}

.checks__level--insecure .header {
    font-size: 2em;
    line-height: 1.5em;
    padding: 0 .75em;
    color: #c23333
}

.checks__level--insecure .header a {
    color: #c23333
}

.checks__level--warning .header {
    color: #db7d3a
}

.checks__level--warning .header a {
    color: #db7d3a
}

.checks__level--achievement .header {
    color: #378241
}

.checks__level--achievement .header a {
    color: #378241
}

.checks__level--notice .header {
    color: #376a82
}

.checks__level--notice .header a {
    color: #376a82
}

.footer {
    font-size: .75em;
    line-height: 2em;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 1.5em;
    background: #222;
    color: #fff;
    padding-bottom: 1.5em;
    padding-top: 2em;
    text-align: center
}

html, body {
    height: 100%
}

.content {
    padding-bottom: 19.5em
}

.container {
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%
}

@media only screen and (min-width: 768px) {
    .footer {
        font-size: .875em;
        line-height: 1.7142857143em;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 1.7142857143em
    }

    html, body {
        height: 100%
    }

    .content {
        padding-bottom: 16.9285714286em
    }

    .container {
        position: relative;
        height: auto !important;
        height: 100%;
        min-height: 100%
    }
}

.footer a {
    color: #fff
}

.footer__disclaimer {
    font-size: .8333333333em;
    line-height: 2.4em;
    margin-top: 1.5em
}

.footer__language {
    font-size: 1.1428571429em;
    line-height: 1.5em;
    margin-bottom: 1.5em
}